body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div {
    display: flex;
    flex-wrap: wrap;
}
.container {
    height: 500px;
    width: 960px;
    border: solid grey;
    flex-direction: column;
}
.row, .pixel {
    flex: 1 1 auto;
}
select {
    text-align: center;
}
button, select {
    margin-bottom: 15px;
}